<a href="https://colab.research.google.com/github/LuizFelipeAlvesMaia/Manipulacao-de-Banco-de-Dados/blob/main/MANIPULAR_DB_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando o SQL lITE para o Python
import sqlite3

cam = sqlite3.connect('instituicao')
#Criando tabela com auto increment da chave primaria
cam.execute("CREATE TABLE alunos(matricula INTEGER  PRIMARY KEY AUTOINCREMENT, nome string, CPF INTEGER );")

print("Tabela criada!")

#Inserindo dados na tabela
cam.execute("INSERT INTO alunos(nome, CPF) VALUES('Hermes Safadao',44);")
cam.commit


cam.execute

In [ ]:
#Conulta a tabela
consulta = cam.execute('SELECT matricula, nome,CPF FROM alunos;')
print(consulta)

In [ ]:
linhas=consulta.fetchall()
print(linhas)

In [ ]:
#Inserindo dados nom input 
nome = input("Digite o nome: ")
cpf = input("Digite o CPF: ")
cam.execute("INSERT INTO alunos(nome, CPF) VALUES(?,?)",(nome,cpf))

In [ ]:
#cONSULTA A EMPREGADO
consulta = con.execute('SELECT matricula, nome, CPF FROM alunos')
linhas=consulta.fetchall()
prints(linhas)

In [ ]:
EXERCICIO 1

In [3]:
#Importando o SQL lITE para o Python
import sqlite3

cov = sqlite3.connect('pesquisa')
#Criando tabela com auto increment da chave primaria
cov.execute("CREATE TABLE casosCovid(id INTEGER PRIMARY KEY AUTOINCREMENT, paises string, casos INTEGER );")
cov.commit()

In [4]:
#Importando biblioteca de requisição http
import requests

pais = input('Digite o pais que deseja pesquisar: ')

#Importando o endpoint
url = f'https://disease.sh/v3/covid-19/countries/{pais}'

resposta = requests.get(url)

if (resposta.status_code == 200):
  casosDadosMundiais = float(resposta.json()['cases'])
  casosFormatados = f'{casosDadosMundiais:_}'
  casosFormatados = casosFormatados.replace('.', ',').replace('_', '.')
  
else:
  print('Sua pesquisa falhou, tente novamente')


#Inserindo dados na tabela
cov.execute("INSERT INTO casosCovid(paises, casos) VALUES(?,?)",(pais,casosFormatados))

Digite o pais que deseja pesquisar: brasil

In [5]:
#Conulta a tabela
consulta = cov.execute('SELECT paises, casos FROM casosCovid;')

linhas=consulta.fetchall()
print(linhas)

[('brasil', '36.371.609,0')]

In [6]:
#Atualizando nome do pais na tabela
cov.execute('UPDATE casosCovid SET paises = "PaiseQualquer" WHERE paises = "BRASIL" ')